---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.conf"
---
{%- macro rgb(color) -%}
{{ color.rgb.r }},{{ color.rgb.g }},{{ color.rgb.b }}
{%- endmacro rgb -%}
palette=custom

palette-black={{ self::rgb(color=if(cond=flavor.dark, t=surface1, f=subtext1)) }}
palette-red={{ self::rgb(color=red) }}
palette-green={{ self::rgb(color=green) }}
palette-yellow={{ self::rgb(color=yellow) }}
palette-blue={{ self::rgb(color=blue) }}
palette-magenta={{ self::rgb(color=pink) }}
palette-cyan={{ self::rgb(color=teal) }}
palette-light-grey={{ self::rgb(color=if(cond=flavor.dark, t=subtext1, f=surface2)) }}

palette-dark-grey={{ self::rgb(color=if(cond=flavor.dark, t=surface2, f=subtext0)) }}
palette-light-red={{ self::rgb(color=red) }}
palette-light-green={{ self::rgb(color=green) }}
palette-light-yellow={{ self::rgb(color=yellow) }}
palette-light-blue={{ self::rgb(color=blue) }}
palette-light-magenta={{ self::rgb(color=pink) }}
palette-light-cyan={{ self::rgb(color=teal) }}
palette-white={{ self::rgb(color=if(cond=flavor.dark, t=subtext0, f=surface1)) }}

palette-foreground={{ self::rgb(color=text) }}
palette-background={{ self::rgb(color=base) }}
